body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url('/img/JesusSide.png');
  background-position: left 280px; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

/* PROGRESS-BAR */

.progress-bar {
  margin: 20px auto;
  width: 80%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: black;

}


.progress-bar span {
  display: block;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  font-size: 23px;
  line-height: 30px;
}

/* ADD PERSON LINK-BUTTON */

.add-persone-div {
  margin-top: 30px;
  font-size: 80%;
}
.add-persone {
  border-radius: 25px;
  border: 2px solid;
  width: 200px;
  height: 150px;
  background-color: rgb(90, 123, 162);
  color: white;
  padding: 1em 1.5em;

  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}
.add-persone:hover {
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(90, 123, 162);

  color: rgb(0, 0, 0);
}